.formulario-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background-color: #1576d6;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: bold;
  color: #333;
}

form input,
form select {
  padding: 10px;
  border: 1px solid  #f4d03f;
  border-radius: 5px;
}

form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}